{{define "home"}}
    <!DOCTYPE html>
    <html lang="en">
    {{template "head" "Home"}}
    <body>
    <nav class="ui top menu">
        <div class="left menu header item">NanoLinker</div>
        <div class="right menu"><a class="item" id="logout"><i class="sign out icon"></i>Logout</a></div>
    </nav>
    <div class="main-content">
        <div class="ui grid stackable padded">
            <div class="column">
                <div class="ui form small">
                    <div class="fields">
                        <div class="seven wide field">
                            <input type="url" id="new_url" name="new_url" placeholder="URL To Redirect"/>
                        </div>
                        <div class="seven wide field">
                            <input type="text" id="new_id" name="new_id" placeholder="Leave Empty for Random ID" required/>
                        </div>
                        <div class="two wide field">
                            <button class="ui green small button" onclick="saveLink()">
                                Save Link
                            </button>
                        </div>
                    </div>
                </div>
                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Url</th>
                        <th>Total Clicks</th>
                        <th>Unique Visitors</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    {{range .links }}
                        <tr>
                            <td id="table_id_{{.ID}}"><a href="/l/{{.ID}}">{{.ID}}</a></td>
                            <td id="table_url_{{.ID}}"><a href="{{.Url}}">{{.Url}}</a></td>
                            <td>{{.TotalClicks}}</td>
                            <td>{{.UniqueVisitors}}</td>
                            <td class="created-at">{{.CreatedAt.Format "2006-01-02T15:04:05.9999Z07:00"}}</td>
                            <td id="table_actions_{{.ID}}">
                                <div class="ui buttons" id="{{.ID}}">
                                    <button class="ui icon teal mini button clip" onclick="copyToClipboard.call(this)">
                                        <i class="copy icon"></i>
                                    </button>
                                    <button class="ui icon olive mini button edit" onclick="openEditRow.call(this)">
                                        <i class="pen icon"></i>
                                    </button>
                                    <button class="ui icon red mini button delete" onclick="openDeleteModal.call(this)">
                                        <i class="trash icon"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {{end}}
                </table>
                {{ .totalCount }} Total Link(s)
                {{if eq .pageCount 0 }}
                {{else}}
                    <div class="ui right floated pagination menu">
                        {{range .pageCount }}
                            <a class="active item">
                                {{.}}
                            </a>
                        {{end}}
                    </div>
                {{end}}
            </div>
        </div>
    </div>
    <div class="ui tiny basic modal front transition hidden">
        <div class="ui icon header">
            <i class="trash alternate red outline icon"></i>
            Delete Link
        </div>
        <div class="content">
            <p>Are you sure about deleting this link?</p>
        </div>
        <div class="actions">
            <button class="ui red basic cancel inverted button"><i class="remove icon"></i>No</button>
            <button class="ui green ok inverted button" id="delete_button" onclick="deleteRow()"><i
                        class="checkmark icon"></i>Yes
            </button>
        </div>
</div>
<script src="/public/js/semantic.min.js"></script>
<script src="/public/js/app.js"></script>
</body>
</html>
{{end}}